.main{
    width: 1100px;
    margin: auto;
    display: flex;
}
.khoi{
    width: 263px;
    margin: auto;
}
.image{
    width: 263px;
    height: 335px;
    position: relative;
}
.image .layer1 {
    width: 263px;
    height: 335px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
}
.image .layer2 {
    width: 263px;
    height: 335px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 1s;
}
.layer3 {
    width: 50px;
}
.image .layer3{
    position: absolute;
    top: 15px;
    right: 1px;
    z-index: 3;
    
    opacity: 0;
    transition: 1s;
}
.layer3 i{
    font-size: 25px;
    padding-bottom: 4px;
    
}
.image:hover .layer2{
    opacity: 1;
    transition: 1s;
}
.image:hover .layer3{
    opacity: 1;
    transition: 1s;
}
.title{
    margin-top: 10px;
    font-size: 16px;
    border-bottom: 1px solid black;
    display: inline-block;
}
.bottom .left{
    position: relative;
    width: 200px;
    height: 40px;
    font-family: tahoma;
    margin-top: 10px;
    float: left;
}
.bottom .lop1{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    color: gray;
    font-size: 13px;
}
.left .lop2{
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 2;
    color: black;
    font-size: 13px;
}
.left:hover .lop1{
    top: -10px;
    transition: 1s;
    opacity: 0;
}
.left:hover .lop2{
    top: 0px;
    transition: 1s;
    opacity: 1;
}
.bottom .right{
    float: right;
    margin-top: 5px;
    width: 37px;
}
.right .mauxanh{
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    float: right;
}
.right .maudo{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    background: red;
    border-radius: 50%;
    float: right;
}